*, body
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 0px auto !important;
    width: 1200px;
    height: 1200px;
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1, h3, p
{
    margin: 2% 0 2% 0;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-transform: uppercase;
    text-align: center;
}
p
{
    color: gold;
    font-size: 30px;
}
p i
{
    margin: 0 4px;
}
h1
{
    font-size: 42px;
}
h3
{
    font-size: 22px;
}
#restart
{
    color: lightgrey;
    cursor: pointer;
}
#memory
{
    margin: 0px auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 10px;
    width: 800px;
    height: 800px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}
#memory .faceDown, #memory .faceUp
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 10px;
}
#memory .faceDown
{
    background-color: lightgrey;
    color: lightgrey;
    cursor: pointer;
}
#memory .faceUp
{
    background-color: darkgray;
    color: white;
}
#memory .correct
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    background-color: green;
}
#memory .incorrect
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    background-color: red;
}
#memory div
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#memory i
{
    font-size: 80px;
    color: white;
}